
.box{
background-color:#07FFF
width:400px;
padding:50px;
border:solid 20px black;
box-sizing:border-box;}
h2{background-color:green}

.box{
background-color:#07FFF
box-sizing:border-box;
padding:20px70px50px10px;
padding-top:20px;
padding-right:40px;
padding-bottom:100px;
padding-left:30px;
margin:40px;
border:10px dashed black;
border-top: 20px solid black;
border-rop-width:30px;
border-top-color:red;
}
h2{
background-color:blue}
h2{
front-size:60px;
margin:0;
color:white;
background-color:#07FFF;
margin:-100px 0 0 -50px;
}